---
- name: Add Vim PPA
  become: yes
  become_method: sudo
  apt_repository:
    repo: ppa:jonathonf/vim
  when: (ansible_distribution == "Ubuntu" and ansible_distribution_major_version < "18")

- name: Install development tools
  apt:
    name: "{{ packages }}"
    state: latest
    update_cache: true
  become: yes
  become_method: sudo
  vars:
    packages:
      - bat
      - ccze
      - curl
      - fd-find
      - fzf
      - git
      - gnupg2
      - gnupg-agent
      - htop
      - keychain
      - mercurial
      - net-tools
      - nmap
      - pinentry-curses
      - pipx
      - pycodestyle
      - pylint
      - python-is-python3
      - python3-flake8
      - python3-pip
      - python3-venv
      - ranger
      - scdaemon
      - ripgrep
      - tmux
      - tree
      - unzip
      - vim
      - virtualenvwrapper
      - wget
      - zoxide
      - zsh

- name: Change shell to ZSH
  become: yes
  user: shell=/bin/zsh name={{ ansible_user_id }}

- name: Ensure ~/.local/bin exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.local/bin"
    state: directory
    mode: "0700"

- name: Symlink fdfind to fd
  ansible.builtin.file:
    src: /usr/bin/fdfind
    dest: "{{ ansible_env.HOME }}/.local/bin/fd"
    state: link
