[user]
	email = jussih@gmail.com
	name = Jussi Heikkila

[color]
	ui = true

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    l = log --graph --date=relative
    lstat = log --graph --date=relative --stat
    st = status
