extends python

snippet enc "Encoding string" b

# -*- coding: utf-8 -*-
$0
endsnippet

snippet vimline "Vim modeline" b
# vim: tabstop=2 expandtab shiftwidth=2 softtabstop=2
$0
endsnippet

snippet sup "Python super call" b
super($1, self).$2(${3:*args, **kwargs})
endsnippet

